<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-game.css" />
    <title>Indonesia Traditional Game</title>
    <link rel="icon" href="/assets/logo.png" />
  </head>
  <body>
    <header>
      <div class="icon">
        <img src="/assets/logo.png" alt="logo" class="logo" />
        <h1>ROCK PAPER SCISSORS</h1>
      </div>
    </header>

    <section>
      <div class="game-area">
        <div class="user-choice">
          <h1 class="player-name">HUMAN</h1>
          <div class="used">
            <button class="user-tool your-tool dissap" id="r-user">
              <img class="tool" src="/assets/batu.png" alt="batu" />
            </button>
            <button class="user-tool your-tool dissap" id="p-user">
              <img class="tool" src="/assets/kertas.png" alt="kertas" />
            </button>
            <button class="user-tool your-tool dissap" id="s-user">
              <img class="tool" src="/assets/gunting.png" alt="gunting" />
            </button>
          </div>
        </div>

        <div class="Versus-Reset">
          <div class="boxR" id="box">
            <h1 id="h1">VS</h1>
          </div>
          <div class="refresh">
            <img id="refresh" src="/assets/refresh.png" />
          </div>
        </div>

        <div class="Com-Choice">
          <h1 class="player-name">COM</h1>
          <div class="used">
            <button class="user-tool dissap" id="r-com">
              <img src="/assets/batu.png" alt="batu" />
            </button>
            <button class="user-tool dissap" id="p-com">
              <img src="/assets/kertas.png" alt="kertas" />
            </button>
            <button class="user-tool dissap" id="s-com">
              <img src="/assets/kertas.png" alt="gunting" />
            </button>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/script-game.js"></script>
  </body>
</html>
