<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Indonesia Traditional Game | Login</title>
    <style>
      body {
        background-image: url("/assets/main-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      label {
        font-size: 24px;
        line-height: 150%;
      }

      form {
        width: 500px;
        margin: 30px;
        padding: 30px;
        color: black;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(100, 64, 64, 0.1);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);
      }

      h1 {
        font-size: 52px;
      }

      a {
        text-decoration: none;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .btn {
        background-color: orange;
        padding: 10px;
      }

      .login-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="login-txt">
        <h1>Login Page</h1>
        <h4>Please click<a href="/account/register"> here </a>to Register</h4>
        <a href="/" style="font-size: 16px"><-- Back to Home</a>
      </div>

      <form>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" />
        </div>
        <br />
        <button type="submit" class="btn">Log In</button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
